.container{
    margin-top: 150px;
}

.about{
    padding: 10px;
    margin-bottom: 80px;
}

.tekstas{
    padding: 10px;
    margin-bottom: 80px;
}
.tekstai{
    padding: 10px;
    margin-bottom: 80px;
}
.kontaktai{
    padding: 10px;
}
img{
    width: 500px;
    height: 500px;
    transform: rotate(15.756deg);
    flex-shrink: 0;
}

.galva{
    color: var(--colour-main-blue-900, #091133);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Medium 50 */
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px; /* 132% */
    letter-spacing: 1px;
}

.galva>p{
    color: var(--colour-main-blue-400, #6F7CB2);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Regular 16 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.galva>h2{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 26px; /* 72.222% */
}